# Archivos compilados
*.class
*.jar
target/
build/

# Archivos temporales
*.swp
*.tmp
*~

# Archivos del IDE (NetBeans, IntelliJ IDEA, VS Code)
nbproject/private/
nbactions.xml
nb-configuration.xml
.idea/
*.iml
.vscode/

# Archivos del sistema operativo
.DS_Store
Thumbs.db
